body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.margin {
  fill: #DDD;
}

.label {
  color: #FFF;
}

.point {
  fill: #038;
}

.axis line, .axis path {
  fill: none;
}

.axis text {
  fill: #FFF;
  font-size: 0.1667px;
}
